{% extends "admin/base.html" %}

{% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrastyle %}
<style>
    #header{
        background:#4c2d1b;
    }
    .module h2, .module caption, .inline-group h2{
        background:#4c2d1b;
    }
</style>
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        <img src="{% static 'logo.png' %}" height="40px"/>
    </a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
